In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data = pd.read_csv('titanic.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
del data['PassengerId']
del data['Name']
del data['Ticket']
del data['Cabin']
del data['Embarked']

In [5]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [6]:
data['Sex'] = np.array([1 if s == 'male' else 0 for s in data['Sex']])

In [7]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [8]:
data.Sex.value_counts()

1    577
0    314
Name: Sex, dtype: int64

In [9]:
y = data['Survived']
del data['Survived']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(data, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
from sklearn.svm import SVC

In [15]:
model = DecisionTreeClassifier()

In [16]:
model.fit(Xtrain, Ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [17]:
prediction = model.predict(Xtest)

In [18]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [19]:
accuracy_score(prediction, Ytest)

0.7541899441340782

In [20]:
precision_score(prediction, Ytest)

0.7027027027027027

In [21]:
recall_score(prediction, Ytest)

0.7027027027027027

In [ ]:
data.groupby('Embarked').Survived.mean()

In [ ]:
plt.plot([1,3,4,6], [10, 11, 12, 13])

In [ ]:
data = pd.read_csv('titanic.csv')

In [ ]:
data.head()

In [ ]:
data.Cabin.unique()

In [ ]:
data['Sex'] = np.array([1 if s == 'male' else 0 for s in data['Sex']])

In [ ]:
data['C'] = np.array([1 if s == 'C' else 0 for s in data['Embarked']])
data['S'] = np.array([1 if s == 'S' else 0 for s in data['Embarked']])
data['Q'] = np.array([1 if s == 'Q' else 0 for s in data['Embarked']])

In [ ]:
data.head()

In [ ]:
del data['PassengerId']
del data['Name']
del data['Ticket']
del data['Cabin']
del data['Embarked']

In [ ]:
data.head()

In [ ]:
data.dropna(inplace=True)

In [ ]:
y = data['Survived']
del data['Survived']

In [ ]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(data, y, test_size=0.2, random_state=42)

In [ ]:
model = KNeighborsClassifier()

In [ ]:
model.fit(Xtrain, Ytrain)

In [ ]:
prediction = model.predict(Xtest)
print(accuracy_score(prediction, Ytest))
print(recall_score(prediction, Ytest))
print(precision_score(prediction, Ytest))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
data.head()

In [ ]:
data.Age = (data.Age - data.Age.min()) / (data.Age.max() - data.Age.min())

In [ ]:
data.head()

In [ ]:
data.Fare = (data.Fare - data.Fare.min()) / (data.Fare.max() - data.Fare.min())

In [ ]:
data.head()

In [ ]:
data.Pclass = (data.Pclass - data.Pclass.min()) / (data.Pclass.max() - data.Pclass.min())
data.SibSp = (data.SibSp - data.SibSp.min()) / (data.SibSp.max() - data.SibSp.min())

In [ ]:
data.head()

In [ ]:
y = data['Survived']
del data['Survived']

In [ ]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(data, y, test_size=0.2)

In [ ]:
model = KNeighborsClassifier()
model.fit(Xtrain, Ytrain)
prediction = model.predict(Xtest)

print(accuracy_score(prediction, Ytest))
print(precision_score(prediction, Ytest))
print(recall_score(prediction, Ytest))

In [ ]:
0.7039106145251397
0.6909090909090909
0.5135135135135135

In [23]:
from sklearn.linear_model import LogisticRegression

In [27]:
model = LogisticRegression('l1')
model.fit(Xtrain, Ytrain)
prediction = model.predict(Xtest)

print(accuracy_score(prediction, Ytest))
print(precision_score(prediction, Ytest))
print(recall_score(prediction, Ytest))

0.7932960893854749
0.7027027027027027
0.7761194029850746

/Users/aleksandrkondraskin/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)